<h1>
  {{title}}
</h1>

<div class="carousel">
  <div class="carousel-img">
    <button class="left-btn">
      <i class="fa fa-3x fa-angle-double-left"></i>
    </button>
    <div class="slide">
      <!--Replace later with slide component when internet is up and can figure out styleing...-->
      <img src="../assets/images/gss_filters_open.png" alt="Filters Open">
    </div>
    <button class="right-bth">
      <i class="fa fa-3x fa-angle-double-right"></i>
    </button>
  </div>
  <div class="circle-nav">
    <button></button>
    <button class="circle-nav-active"></button>
    <button></button>
    <button></button>
  </div>
</div>